# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

# Virtual env
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/

# Flask / Runtime
instance/
*.log

# Env / Secrets
.env
*.env
.env.local
.env.production

# Node (if any)
node_modules/

# Alembic cache only
migrations/__pycache__/

# Local / temp
trash/
users.json

# ads.txt
static/ads.txt